<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-info">
    <p>Bienvenido, {{ user.usuario }}</p>
   
  </div>

  <ion-toolbar>
    <ion-title>Listado de Usuarios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addUser()"><ion-icon name="add" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let user of listar">
      <ion-label>
        {{ user.id }} - {{ user.usuario }}
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editUser(user.id)"> <ion-icon name="create" slot="icon-only"></ion-icon></ion-button>
        <ion-button color="danger" (click)="deleteUser(user.id)"><ion-icon name="trash" slot="icon-only"></ion-icon></ion-button>
        <ion-button (click)="viewUser(user.id)"><ion-icon name="eye" slot="icon-only"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

</ion-content>
